<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item" >
      <a class="nav-link" data-toggle="collapse" href="#browse-item" aria-expanded="false" aria-controls="browse-item">
        <i class="mdi mdi-compass-outline menu-icon"></i>
        <span class="menu-title">Browse</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="browse-item">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="browse/books" routerLinkActive="active">new Books</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="browse/movies" routerLinkActive="active">new Movies</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="browse/tvs" routerLinkActive="active">new TV Series</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="browse/games" routerLinkActive="active">new Game</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="dashboard">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link d-flex justify-content-between flex-wrap" routerLink="bookshelf">
        <div>
          <i class="mdi mdi-book-open-page-variant menu-icon"></i>
          <span class="menu-title">Books</span>
        </div>
        <span class="badge badge-pill badge-secondary">{{bookshlefItemListSize}}</span>
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link d-flex justify-content-between flex-wrap" routerLink="movieshelf">
        <div>
          <i class="mdi mdi-movie menu-icon"></i>
          <span class="menu-title">Movies</span>
        </div>
        <span class="badge badge-pill badge-secondary">{{movieshelfItemListSize}}</span>
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link d-flex justify-content-between flex-wrap" routerLink="tvshelf">
        <div>
          <i class="mdi mdi-television menu-icon"></i>
          <span class="menu-title">TV Series</span>
        </div>
        <span class="badge badge-pill badge-secondary">{{tvshelfItemListSize}}</span>
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link d-flex justify-content-between flex-wrap" routerLink="gameshelf">
        <div>
          <i class="mdi mdi-gamepad-variant menu-icon"></i>
          <span class="menu-title">Games</span>
        </div>
        <span class="badge badge-pill badge-secondary">{{gameshelfItemListSize}}</span>
      </a>
    </li>

  </ul>
</nav>