<!-- 
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">book crawler</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="books">Books </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="movies">Movies </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tv_series">TV Series </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="games">Games </a>
        </li>
      </ul>
  
      
  
     
    </nav>
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div> 
-->



<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <app-nav-bar></app-nav-bar>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <!-- partial -->
    <div class="main-panel">
      <router-outlet></router-outlet>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->